html {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

/* header stuff */

#logo-image {
    width: 35px;
    height: 35px;
}

#navbar {
    /* background-color: #f1f1f1; */
    background-color:orange;
    opacity: 0.5;
    min-height: 40px;
    height: 50px;
    border-radius:0px 0px 100% 100%;
    transition: 1s;
    z-index : 10;
}

#navbar:hover {
    border-radius: 0;
    opacity: 0.8;
    transition: 0.5s;
}

#nav-tab {
    background-color: black ;
    opacity: 0.4;
    border-radius:0px 0px 50px 50px;
    height: 40px;
    position: absolute;
    /* margin-top: -50px; */
    width: 100%;
    display: none;
    z-index: 10;
    transition: opacity 1s;
}
#nav-tab:hover {
    opacity: 0.9;
}
#nav-tab a {
    color: orange; 
}
/* header stuff */

/* body stuff  */

/* home */
.home {
    background:url('../img/image.png') ;
    background-size: 140%;
    background-position: 130% -30%;
    height: 100vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
}
.container-img {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color: rgb(243,210,179, 0.5); */
    height: 100vh;
    margin-top: -50px;
}
.menu{
    height: 100vh;
    margin-top: -50px;
}
.container-menu {
    display: none;
}
#link {
    position: relative;
    top: 15%;
    left: 32%;
    margin-bottom:10px;
    width: 200px;
}
/* home */

/* about */
.container-img.about {
    background:rgba(76, 175, 80, 0.9) url('../img/angga.png') ;
    /* background-size: 140%;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    background-color: #cccccc;
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
  }   
#content {
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    overflow-y: scroll;
  }
.judul {
    position: absolute;
    left: 14%;
    display:none;
    font-size: 10rem;
}


/* about */

/* education */
.education {
    background:url('../img/UI.png') ;
    background-size: 140%;
    /* background-repeat: no-repeat; */
    background-position: 180% 50%;
    /* height: 500px; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
#edu-list {
    font-size: 20px;
    text-align: left;
}
#edu {
    font-size: 25px;
    margin-bottom: -10px;
}
/* education */

/* achievment */
#achievment {
    left: 10%;
    color: orange;
}

.prestasi {
    background:url('../img/medal.png') ;
    background-size: 140%;
    background-position: 100% 50%;
    /* height: 500px; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
}

#pres {
    font-size: 18px;
}
/* achievment */

/* project */
.proyek {
    background:url('../img/project.jpg') ;
    background-size: 140%;
    background-position: 90% 50%;
    /* height: 500px; */
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
}
#project {
    left:28%;
    color: black;
}
.carousel-item {
    width: 300px !important;
    top:-180px !important;
    left: -8px !important;
}
.carousel{
    height: 100vh;
}
/* project */

/* challenge */
#sign-btn {
    position: absolute;
    left: 48%;
}
/* challenge */
/* body stuff */


/* footer stuff */
#footer {
    background-color: orange;
    margin-bottom: -40px;
    height: 3vh;
    z-index: 100000;
}


@media(max-width:600px){
    #link {
        left: 30%;
    }
}
@media(max-width:440px){
    #link {
        left: 25%;
    }
}
@media(max-width: 380px){
    #link {
        left: 20%;
    }
}
@media(max-width: 330px){
    #link {
        left: 15%;
    }
}