{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block body %}
  <!-- body -->
  <div class="container-body row">
    <div class="col s12 m6 l6 xl6 container-img about valign-wrapper">
        <h1 class="judul" style="font-size:7rem">About</h1>
    </div>
    <div class="col s12 m6 l6 xl6 valign-wrapper menu">
      <div class="card valign-wrapper" id="content">
        <p></p>
      </div>
    
    </div>

  </div>  
<!-- body -->
{% endblock body %}
  
    
{% block js %}
    <script>
      $(document).ready(function(){
        $(".judul").fadeIn(200);
      });

      var aText = new Array(
        "Hello,my name is Anggardha Febriano, people usually call me Angga or Anggardha. I was born 25 February 2000 in Jogjakarta.I'm an optimistic person with a big dreams that i want to reach.I like sport very much, escpecially Futsal and Taekwondo. Thank You for Visiting my Website!"
        );
        var iSpeed = 50; // time delay of print out
        var iIndex = 0; // start printing array at this posision
        var iArrLength = aText[0].length; // the length of the text array
        var iScrollAt = 20; // start scrolling up at this many lines
        
        var iTextPos = 0; // initialise text position
        var sContents = ''; // initialise contents variable
        var iRow; // initialise current row
        
        function typewriter()
        {
        sContents =  ' ';
        iRow = Math.max(0, iIndex-iScrollAt);
        var destination = document.getElementById("content");
        
        while ( iRow < iIndex ) {
          sContents += aText[iRow++] + '<br />';
        }
        destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
        if ( iTextPos++ == iArrLength ) {
          iTextPos = 0;
          iIndex++;
          if ( iIndex != aText.length ) {
          iArrLength = aText[iIndex].length;
          setTimeout("typewriter()", 100);
          }
        } else {
          setTimeout("typewriter()", iSpeed);
        }
        }


      typewriter();
      
      </script>  
{% endblock js %}
    
    
       
    
