{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}
  <!-- body -->
<div class="container-challenge row">
  <div class="col s12 m6 l6 xl6 container-img prestasi valign-wrapper">
      <h1 class="judul" id="achievment" style="font-size:3.5rem">Achievement</h1>
  </div>
  <div class="col s12 m6 l6 xl6 valign-wrapper menu">
    <div class="card" id="content">
          <ul class="collapsible">
                  <li class="active">
                      <div class="collapsible-header"><i class="material-icons">stars</i>
                      <p id="pres">Olimpiade Sains Nasional bidang Biologi tingkat kota(2017, Peringkat 3)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Olimpiade Sains Nasional adalah ajang berkompetisi dalam bidang sains bagi para siswa pada jenjang SD, SMP, dan SMA di Indonesia. Siswa yang mengikuti Olimpiade Sains Nasional adalah siswa yang telah lolos seleksi tingkat kabupaten dan provinsi dan adalah siswa-siswa terbaik dari provinsinya masing-masing.
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">stars</i>
                      <p id="pres">Jakarta Taekwondo Festival 2008(Medali Perak-Kyorugi)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Kejuaraan yang diselenggarakan Pengurus Besar Taekwondo Indonesia ini merupakan wadah dan kreativitas bagi anak usia dini hingga pemuda. Dalam kejuaraan ini peserta dari umur enam hingga 18 tahun saling bertarung untuk meningkatkan prestasi olahraga, khususnya taekwondo di Tanah Air.setiap tahunnya peserta yang mengikuti kejuaraan ini lebih dari 2000 peserta
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">stars</i>
                      <p id="pres">Jakarta Taekwondo Festival 2009(Medali Emas-Kyorugi)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Kejuaraan yang diselenggarakan Pengurus Besar Taekwondo Indonesia ini merupakan wadah dan kreativitas bagi anak usia dini hingga pemuda. Dalam kejuaraan ini peserta dari umur enam hingga 18 tahun saling bertarung untuk meningkatkan prestasi olahraga, khususnya taekwondo di Tanah Air.setiap tahunnya peserta yang mengikuti kejuaraan ini lebih dari 2000 peserta
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">stars</i>
                      <p id="pres">Jakarta Taekwondo Festival 2016(Medali Perak-Poomsae)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Kejuaraan yang diselenggarakan Pengurus Besar Taekwondo Indonesia ini merupakan wadah dan kreativitas bagi anak usia dini hingga pemuda. Dalam kejuaraan ini peserta dari umur enam hingga 18 tahun saling bertarung untuk meningkatkan prestasi olahraga, khususnya taekwondo di Tanah Air.setiap tahunnya peserta yang mengikuti kejuaraan ini lebih dari 2000 peserta
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">stars</i>
                      <p id="pres">Pekan Olahraga Kota Depok ke 5(Taekwondo-Poomase, Medali Perunggu)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Event Olahraga terbesar yang diselenggarakan oleh Pemerintah Kota Depok yang diselenggarakan tiap 2 tahun. PORKOT mempertemukan atlet atlet muda depok yang setiap atlet mewakili kecamatannya masing masing
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">people</i>
                      <p id="pres">Ketua Ekskul Taekwondo SMAN 1 Depok(2017-2018)</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Menjadi ketua ekskul Taekwondo di SMAN 1 Depok selama periode 2017-2018
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">people</i>
                      <p id="pres">Panitia Olimpiade UI 2018</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Menjadi staff olimpide UI bidang Taekwondo
                      </p>
                      </div>
                  </li>
                  <li>
                      <div class="collapsible-header"><i class="material-icons">people</i>
                      <p id="pres">Panitia Pemira Fasilkom UI 2018</p>
                      </div>
                      <div class="collapsible-body">
                      <p id="pres">
                              Menjadi staff Verifikasi dan Pengawasan Pemira Fasilkom UI
                      </p>
                      </div>
                  </li>
                </ul>
                      
                          
    </div>
  </div>
  </div>
</div>  
<!-- body -->

{% endblock body %}
  

{% block js %}
  <script>
      $(document).ready(function(){
        $(".judul").fadeIn(200);
        $('.collapsible').collapsible();
      });
  </script>
{% endblock js %}
  
    