   {% extends 'base.html' %}
   {% load staticfiles %}
   {% load static %}
   
   {% block body %}
    <!-- body -->
    <div class="container-body row">
      <div class="col s12 m6 l6 xl6 container-img proyek valign-wrapper">
          <h1 class="judul" id="project" style="font-size:6rem">Comment</h1>
      </div>
      <div class="col s12 m6 l6 xl6 valign-wrapper menu">
        <div class="card" id="content" style="padding-top:100px">
              <div class="row">
                      <form class="col s12" method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="input-field col s12">
                            {{form.email}}
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="wrong" data-success="right"></span>
                          </div>
                          <div class="row">
                                  <div class="input-field col s12">
                                    {{form.comment}}
                                    <label for="textarea1">Comment</label>
                                  </div>
                                </div>
                        </div>
                        <button type="submit" class="btn center orange">Submit</button>
                      </form>
                      <div class="col s12">
                        <h1>All Comment</h1>
                          {% for c in comment %}
                              <h4 class="left-align">{{c.email}}</h4>
                              <h4 style="font-size:20px;" class="left-align">{{c.comment}}</h4>
                          {% empty %}
                            <h4>No comment yet</h4>
                          {% endfor %}
                      </div>
                    </div>
          </div>
      </div>
    </div>  
  <!-- body --> 
   {% endblock body %}
     
   
   {% block js %}
     
   {% endblock js %}
     
    