    {% extends 'base.html' %}
    {% load staticfiles %}
    {% load static %}
    
    {% block body %}
      <!-- body -->
      <div class="container-body row">
        <div class="col s12 m6 l6 xl6 container-img education valign-wrapper">
            <h1 class="judul" style="font-size:4rem;color: black">Education</h1>
        </div>
        <div class="col s12 m6 l6 xl6 valign-wrapper menu">
            <div class="card" id="content">
            <div id="edu-list" class="aniview" data-av-animation="fadeInRight">
                <h3 id="edu">SD<i class="material-icons" style="color: green;">sentiment_very_satisfied</i></h3>
                <p>
                  SDI Al-Fauzien <br>
                  2006-2012</p>
                <h3 id="edu">SMP<i class="material-icons" style="color: green;">sentiment_very_satisfied</i></h3>
                <p>
                  SMPN 3 Depok <br>
                  2012-2015</p>
                <h3 id="edu">SMA<i class="material-icons" style="color: green;">sentiment_very_satisfied</i></h3>
                <p>
                  SMAN 1 Depok <br>
                  2006-2012</p>
                <h3 id="edu">Sarjana<i class="material-icons" style="color: orange;">sentiment_satisfied</i></h3>
                <p>
                  Universitas Indonesia <br>
                  2006-2012</p>
            </div>
            </div>
        </div>
      </div>  
    <!-- body -->
    {% endblock body %}
      
    
    {% block js %}
          <!--JavaScript at end of body for optimized loading-->
    
    <script>
      $(document).ready(function(){
        $(".judul").fadeIn(200);
        $('.aniview').AniView();
      });      
  </script>
  <script src="{% static 'js/jquery.aniview.js' %}"></script>   
  {% endblock js %}
      

