{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}



{% block body %}
<div class="container-body row">
  <div class="col s12 m6 l6 xl6 container-img home">
    <div class="row hide-on-med-and-up">
    <div id="judul-mobile" class="col s12 container-menu hide-on-med-and-up" style="margin-top:20%;">
        <h1 id="judul" style="margin-top:40px;font-size: 3em" class="center-align">Welcome To My Website</h1>
        <a id="link" class="btn orange" href="{% url 'home:about' %}">About<i class="material-icons right">arrow_forward</i></a><br>
        <a id="link" class="btn orange" href="{% url 'home:education' %}">Education<i class="material-icons right">arrow_forward</i></a><br>
        <a id="link" class="btn orange" href="{% url 'home:achievement' %}">Achievment<i class="material-icons right">arrow_forward</i></a><br>
        <a id="link" class="btn orange" href="{% url 'home:project' %}">Project<i class="material-icons right">arrow_forward</i></a><br>
        <a id="link" class="btn orange" href="{% url 'home:comment' %}">Comment<i class="material-icons right">arrow_forward</i></a><br>
        <a id="link" class="btn orange" href="{% url 'home:project_list' %}">Project List<i class="material-icons right">arrow_forward</i></a><br>
        <!-- test -->
        <!-- <a id="link" class="btn orange" href="registration.html">SignUp<i class="material-icons right">arrow_forward</i></a><br> -->
        <p class="center-align">Contact me at anggardhanoano@gmail.com</p>
  </div>
  </div>
  </div>
  <div class="col s12 m6 l6 xl6 valign-wrapper menu hide-on-small-only">
    <div class="container-menu">
          <h1 id="judul" style="margin-top:-20px;" class="center-align">Welcome To My Website</h1>
          <a id="link" class="btn orange" href="{% url 'home:about' %}">About<i class="material-icons right">arrow_forward</i></a><br>
          <a id="link" class="btn orange" href="{% url 'home:education' %}">Education<i class="material-icons right">arrow_forward</i></a><br>
          <a id="link" class="btn orange" href="{% url 'home:achievement' %}">Achievment<i class="material-icons right">arrow_forward</i></a><br>
          <a id="link" class="btn orange" href="{% url 'home:project' %}">Project<i class="material-icons right">arrow_forward</i></a><br>
          <a id="link" class="btn orange" href="{% url 'home:comment' %}">Comment<i class="material-icons right">arrow_forward</i></a><br>
          <a id="link" class="btn orange" href="{% url 'home:project_list' %}">Project List<i class="material-icons right">arrow_forward</i></a><br>
          <!-- <a id="link" class="btn orange" href="registration.html">SignUp<i class="material-icons right">arrow_forward</i></a><br> -->
          <p class="center-align">Contact me at anggardhanoano@gmail.com</p>
    </div>
  </div>
  </div>
{% endblock body %}


{% block js %}
  
{% endblock js %}
  
  