   {% extends 'base.html' %}
   {% load staticfiles %}
   {% load static %}
   {% block body %}
     <!-- body -->
     <div class="container-body row">
      <div class="col s12 m6 l6 xl6 container-img proyek valign-wrapper">
          <h1 class="judul" id="project" style="font-size:5rem">Project</h1>
      </div>
      <div class="col s12 m6 l6 xl6 valign-wrapper menu">
        <div class="card" id="content">
              <div class="carousel">
                      <div class="carousel-item">
                        <div class="card">
                          <div class="card-image">
                            <img src="{% static 'img/image.png' %}">
                          </div>
                  
                          <div class="card-content">
                              <p style="font-size:20px;">Portofolio Page Project</p>
                              <p style="font-size:15px;">Made with django and materialize css framework</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card">
                          <div class="card-image">
                            <img src="{% static 'img/U.png' %}">
                          </div>
                          <div class="card-content">
                              <p style="font-size:20px;">Uneev Coming Soon Page</p>
                              <p style="font-size:15px;">Made with django and materialize css framework. Visitor can submit their email so they can get update from uneev.id</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card">
                          <div class="card-image">
                            <img src="{% static 'img/code.png' %}">
                          </div>
                          <div class="card-content">
                                  <p style="font-size:20px;">Uneev Main Web</p>
                                  <p style="font-size:15px;">Made with django and materialize css framework. The description of this page is still top-secret, but you can visit <a href="https://uneev.id">Uneev.id</a> for more information</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
      </div>
    </div>  
  <!-- body -->
   {% endblock body %}
     
    {% block js %}
      <!--JavaScript at end of body for optimized loading-->
    <script>
      $(document).ready(function(){
        $(".judul").fadeIn(200);
        $('.carousel').carousel();
      });
  </script>
    {% endblock js %}
      
    
       
