{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container-body row">
        <div class="col s12 m6 l6 xl6 container-img proyek valign-wrapper">
            <h1 class="judul" id="project" style="font-size:6rem">Comment</h1>
        </div>
        <div class="col s12 m6 l6 xl6 valign-wrapper menu">
          <div class="card" id="content" style="padding-top:100px">
                <div class="row">
                        <form class="col s12" method="POST">
                          {% csrf_token %}
                          <div class="row">
                            <div class="input-field col s12">
                            <p class="left-align">Title</p>
                              {{form.title}}
                              <p class="left-align">Category</p>
                              {{form.category}}
                              <p class="left-align">Short Description</p>
                              {{form.description}}
                              <p class="left-align">Place</p>
                              {{form.place}}
                              <p class="left-align">Start Date</p>
                              {{form.date_start}}
                              <p class="left-align">End Date</p>
                              {{form.date_end}}
                            </div>
                          <button type="submit" class="btn center orange">Submit</button>
                        </form>
                        <div class="col s12">
                          <h1>All Projects</h1>
                            {% for p in project %}
                                <h4 class="left-align">Title : {{p.title}}</h4>
                                <h4 class="left-align">Category : {{p.category}}</h4>
                                <h4 class="left-align">Description : {{p.description}}</h4>
                                <h4 class="left-align">Place : {{p.place}}</h4>
                                <h4 style="font-size:20px;" class="left-align">{{p.date_start}} - {{p.date_end}}</h4>
                                <a class="waves-effect waves-light btn modal-trigger red" href="#modal1">Delete</a>
                                <div id="modal1" class="modal">
                                  <div class="modal-content">
                                    <h4>Confirmation</h4>
                                    <p>Are You Sure Want to Delete This Project?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form method="POST" action="{% url 'home:delete' pk=p.pk %}">
                                      {% csrf_token %}
                                    <button type="submit" class="modal-close waves-effect btn-flat red">Delete</button>
                                    <a class="modal-close waves-effect btn-flat orange">Cancel</a>
                                  </form>
                                  </div>
                                </div>
                                <hr>
                            {% empty %}
                              <h4>No project yet</h4>
                            {% endfor %}
                        </div>
                      </div>
            </div>
        </div>
      </div>  
  
{% endblock body %}
    

{% block js %}
    <script>
  $(document).ready(function(){
    $('.datepicker').datepicker(
      {format : 'yyyy-mm-dd'}
    );
  });
  $(document).ready(function(){
    $('.modal').modal();
  });
    </script>
{% endblock js %}
    