{% load staticfiles %}
{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link rel="shortcut icon" href="{% static 'img/image.png' %}" />
    <title>Anggardha - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      
    <!-- header -->
    
    {% block header %}
    {% include 'header.html' %}   
       
    {% endblock header %}
      

    <!-- header -->
    <!-- body -->
      
      {% block body %}    
        
      {% endblock body %}

    <!-- body -->
    <p class="center-align">{{time}}</p>  
  {% block footer %}
  {% include 'footer.html' %}
  {% endblock footer %}
  

      
  
  <!-- footer -->
    
  <!-- footer -->
    <!--JavaScript at end of body for optimized loading-->      
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
    <script>
        $(document).ready(function(){
          $(".container-menu").fadeIn(2000);
        });
        
        function showCoords(event) {
          $("#navbar").css('border-radius',"0px 0px 0px 0px");
          $("#nav-tab").fadeIn(500);
        }
        
        function clearCoor() {
          console.log("kosong")
          $("#nav-tab").fadeOut(500);
          $("#navbar").css('border-radius',"0px 0px 100% 100%");
        }

        
        </script>
    {% block js %}
      
    {% endblock js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>