{% load static %}
<nav class="nav-extended" style="background-color:transparent;box-shadow: none;" onmousemove="showCoords(event)" >
        <div   class="nav-wrapper" id="navbar">
          
          <a href="{% url 'home:home' %}" class="brand-logo center">
            <img src="{% static 'img/image.png' %}" id="logo-image">
            <span style="font-size: 1rem;display: block;position: absolute;top:10px;left:-2px">Home</span>
          </a>
          
        </div>
        <div class="nav-content row" id="nav-tab" onmouseout="clearCoor()">
          <div class="col s12 m12 l12 xl12">
          <ul class="tabs tabs-transparent">
            <li class="tab col s3 m3 l3 xl3"><a href="{% url 'home:about' %}">About Me</a></li>
            <li class="tab col s3 m3 l3 xl3"><a href="{% url 'home:education' %}">Education</a></li>
            <li class="tab col s3 m3 l3 xl3"><a href="{% url 'home:achievement' %}">Achievment</a></li>
            <li class="tab col s3 m3 l3 xl3"><a href="{% url 'home:project' %}">Project</a></li>
          </ul>
        </div>
        </div>
      </nav>
    